.bg-white {
    background-color: #FFF;
}

.bg-blue {
    background-color: $blue;
}

.bg-lightBlue {
    background-color: $lightBlue;
}

.bg-darkBlue {
    background-color: $darkBlue;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-teal {
    background-color: $teal;
}

.bg-linear-gradient-left-teal-lightBlue {
    background: linear-gradient(to right, $teal, $lightBlue)    
}